pandas
numpy
scipy
# opencv-python
opencv-python-headless==4.5.5.64
# opencv-contrib-python
# opencv-contrib-python-headless
scikit-learn
lap
motmetrics
albumentations
matplotlib
seaborn
tqdm
ipywidgets
dvc
